/* to override Bootstrap styles for some things */

.space-above {
  margin-top: 20px;
  padding-top: 20px;
}

.blocker {
  display: block;
}

.colunas{
  position: relative;
  top: 10px;
  left: 15px;
}
.blank{
  height: 20px;
}
#plusinfo{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 14px;
  color: rgba(rgb(131, 117, 117), rgb(98, 139, 98), rgb(124, 124, 143), 0.6);
}